﻿
<div class="login">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Send email</h3>
    <p class="est animated wow zoomIn" data-wow-delay=".5s">
     Enter your email adress to send a link were you can reset your password
    </p>
    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()
        <input type="email" placeholder="Email Address" name="Email" required=" " id="email">
        
        <div class="forgot">
          <a href="javascript:void(0)" id="forgotPassword">Send email</a>
        </div>
      }  
    </div>
     </div>
</div>




<script type="text/javascript">


  $(document).on('click', '#forgotPassword', function () {

    $.ajax({
      type: "POST",
      url: '/Home/ResetPassword',
      data: {
        email: $('#email').val()
      },
      success: function (data) {
        alert("Email sent");
        console.log("da");

      },
      dataType: "json",
      error: function (data) {
        console.log(data);

        alert("Please try again. ");

      }
    });

  })


</script>