﻿@model NLayer.web3.Models.LoginViewModel



<div class="login">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Welcome</h3>
    <p class="est animated wow zoomIn" data-wow-delay=".5s">
      @HttpContext.Current.Session["LoggedUserName"]
    </p>
</div></div>