﻿@model NLayer.web3.Models.LoginViewModel


<div class="login">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Login Here</h3>
    <p class="est animated wow zoomIn" data-wow-delay=".5s">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </p>
    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()
        <input type="email" placeholder="Email Address" name="Email" required=" " id="email">
        <input type="password" placeholder="Password" name="Password" required=" " id="password">
        <div class="forgot">
          <a href="/Home/ForgotPassword">Forgot Password?</a>
        </div>
        <input type="submit" value="Login">
      }
    </div>
    <h4 class="animated wow slideInUp" data-wow-delay=".5s">For New People</h4>
    <p class="animated wow slideInUp" data-wow-delay=".5s"><a href="/Home/Register">Register Here</a> (Or) go back to <a href="/Home/Index">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
  </div>
</div>


