﻿@model NLayer.Services.Dto.UserDto


<div class="register">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
    <p class="est animated wow zoomIn" data-wow-delay=".5s">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </p>
    <div class="login-form-grids">
      <h5 class="animated wow slideInUp" data-wow-delay=".5s">profile information</h5>


      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()

        <div class="animated wow slideInUp" data-wow-delay=".5s">

          @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @placeholder = "First Name..." } })
          @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })


          @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @placeholder = "Last Name...", @style="margin-top:20px;"} })
          @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

        </div>

        <div class="register-check-box animated wow slideInUp" data-wow-delay=".5s">
          <div class="check">
            <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Subscribe to Newsletter</label>
          </div>
        </div>



        <h6 class="animated wow slideInUp" data-wow-delay=".5s">Login information</h6>


        <div class="animated wow slideInUp" data-wow-delay=".5s">

          @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email..." } })
          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


          @Html.EditorFor(model => model.Password, new { htmlAttributes = new {@id = "password" , @placeholder = "*******"} })
          @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


          <input type="password"  id="repeatPassword" name="repeatPass" value="" placeholder="******" />
          

          <div class="register-check-box">
            <div class="check">
              <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
            </div>
          </div>

          <input type="submit" value="Register">
        </div>


      }
    </div>
    <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
      <a href="index.html">Home</a>
    </div>
  </div>
</div>




<script type="text/javascript">

  $("#repeatPassword").change(function (e) {

    var pass = $("#password").val();
    var repeatpass = $("#repeatPassword").val();
    if(pass!==repeatpass)
    {
      alert("Passwords are not the same");
      $("#repeatPassword").val('');
      $("#repeatPassword").focus();
    }

  })

</script>