﻿
<div class="login">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Reset Code</h3>
    <p class="est animated wow zoomIn" data-wow-delay=".5s">
      Enter the code you received on your email and your new password
    </p>
    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()
        <input type="text" required=" " id="code" value="@ViewBag.code" />
        <input type="password" placeholder="New Password" name="Password" required=" " id="password">
        <input type="password" id="repeatPassword" name="repeatPass" value="" placeholder= "Repeat Password" />

        <div class="forgot">
          <a href="javascript:void(0)" id="resetCode">Reset</a>
        </div>

      }
    </div>
  </div>
</div>


<script type="text/javascript">

  $("#repeatPassword").change(function (e) {

    var pass = $("#password").val();
    var repeatpass = $("#repeatPassword").val();
    if(pass!==repeatpass)
    {
      alert("Passwords are not the same");
      $("#repeatPassword").val('');
      $("#repeatPassword").focus();
    }

  })

  $(document).on('click', '#resetCode', function () {


    $.ajax({
      type: "POST",
      url: '/Home/ResetCode',
      data: {
        code: $('#code').val(),
        newpass: $('#password').val()
      },
      success: function (data) {

        if (data == "1") {
          window.location.replace("http://localhost:57808/Home/Login");
          console.log("kappa");
        }

      },
      dataType: "json",
      error: function (data) {
        console.log(data);

        alert("Please try again. ");

      }
    });

  });


</script>