﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  @*@Styles.Render("~/Content/css")*@

  <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
  @Scripts.Render("~/bundles/modernizr")


  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
  
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Best.App.Evr.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li>@Html.ActionLink("About", "About", "Home")</li>
          <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        @*@Html.Partial("_LoginPartial")*@
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)



  <script type="text/javascript">

    $(document).bind("contextmenu", function (e) {
      e.preventDefault();
    });



    $(document).keydown(function (e) {
      if (e.which === 123) {
        return false;
      }
    });



    $("#ModalSaveProduct").click(function (e) {

      $.ajax({
        type: "POST",
        url: '/Products/AddProduct',
        data: {
          name: $("#productName").val(),
          price: $("#productPrice").val()
        },
        success: function (data) {

          if (data == "1") {
            alert("Product added succesfully");
          }

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    $(".ModalEdit").click(function (e) {

      var id = $(this).attr("idProdus");
      var name = $(this).attr("nume");
      var pret = $(this).attr("pret");

      document.getElementById("productNameEdit").value = name;
      document.getElementById("productPriceEdit").value = pret;
      document.getElementById("productIDEdit").value = id;
      $("#category").val($(this).attr("catID"));

    });


    $(".UserModalEdit").click(function (e) {

      var id = $(this).attr("idUser");
      var firstname = $(this).attr("firstName");
      var lastname = $(this).attr("lastName");
      var email = $(this).attr("Email");
      var role = $(this).attr("rol");

      document.getElementById("userIdEdit").value = id;
      document.getElementById("firstNameEdit").value = firstname;
      document.getElementById("lastNameEdit").value = lastname;
      document.getElementById("userEmailEdit").value = email;
      document.getElementById("userRoleEdit").value = role;


    });


    $("#ModalSaveProductEdit").click(function (e) {

      $.ajax({
        type: "POST",
        url: '/Products/EditProduct',
        data: {
          id: $("#productIDEdit").val(),
          name: $("#productNameEdit").val(),
          price: $("#productPriceEdit").val(),
          cat: $("#category").val()
        },
        success: function (data) {

          if (data == "1") {
            alert("Product edited succesfully");
          }

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });


    $("#ModalSaveUserEdit").click(function (e) {

      $.ajax({
        type: "POST",
        url: '/User/EditUser',
        data: {
          id: $("#userIdEdit").val(),
          lastName: $("#lastNameEdit").val(),
          firstName: $("#firstNameEdit").val(),

          email: $("#userEmailEdit").val(),
          role: $("#userRoleEdit").val()
        },
        success: function (data) {

          if (data == "1") {
            alert("User edited succesfully");
          }

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    $(".DeleteUser").click(function (e) {

      $.ajax({
        type: "POST",
        url: '/User/DeleteUser',
        data: {
          userID: $(this).attr("idUser")
        },
        success: function (data) {

          if (data == "1") {
            alert("User deleted succesfully");
          }

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });



    $("#ModalCreateUserSave").click(function (e) {

      //console.log($("#lastNameCreate").val());

      $.ajax({
        type: "POST",
        url: '/User/CreateUser',
        data: {
          lastName: $("#lastNameCreate").val(),
          firstName: $("#firstNameCreate").val(),
          password: $("#passwordCreate").val(),
          email: $("#emailCreate").val(),
          role: $("#roleCreate").val()
        },
        success: function (data) {

          if (data == "1") {
            alert("User added succesfully");
          }
        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");
        }
      });

    });


    $("#SeeOrdersByUser").click(function (e) {

      $.ajax({
        type: "POST",
        url: '/Orders/SeeOrders',
        data: {
          userId: $("#orderUserId").val()
        },
        success: function (data) {

          $("#OrdersByUser").empty();

          $.each(data, function (key, value) {

            $('#ordere > tbody:last-child').append('<tr> <td>' + value.UserID + '</td><td>' + value.ID + '</td><td>' + value.ShipmentAddressID + '</td><td>' + value.OrderDate + '</td><td> <a href="#" class="EditOrderProducts" orderId="' + value.ID + '" data-toggle="modal" data-target="#EditOrderModal" > Edit </a> | <a href="javascript:void(0)" class="DeleteOrder" orderId="' + value.ID + '"> Delete </a>  </td></tr>');

          });

          console.log(data);

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");
        }
      });

    });


    $("#addProductTableModal").click(function (e) {

      var $t = $('#EditOrders > tbody:last-child');
      //$('#EditOrders > tbody:last-child').append('<tr> <td>' + $('#productsSelect').val() + '</td><td>' + $('#productsSelect option:selected').text() + '</td><td>' + $('#productsSelect option:selected').attr('price') + '</td><td>' + $('#productQuantity').val() + '</td><td> <a href="#" class="EditOrderProducts" productId="' + $('#productsSelect').val() + '" data-toggle="modal" data-target="#EditOrderModal" > Remove </a> ');

      $.ajax({
        type: "POST",
        url: '/Orders/AddOrderProduct',
        data: {
          orderId: $(this).attr("orderid"),
          productId: $('#productsSelect').val(),
          quantity: $('#productQuantity').val()
        },
        success: function (data) {
          if (data == "1") {
            $t.append('<tr> <td>' + $('#productsSelect').val() + '</td><td>' + $('#productsSelect option:selected').text() + '</td><td>' + $('#productsSelect option:selected').attr('price') + '</td><td>' + $('#productQuantity').val() + '</td><td> <a href="#" class="EditOrderProducts" productId="' + $('#productsSelect').val() + '" data-toggle="modal" data-target="#EditOrderModal" > Remove </a> ');
          }
          else
          {
            alert("Please fill corectly all the fields. (check quantity field)");
          }
        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Please fill corectly all the fields and don't add the same products");

        }
      });


    });

    $(".DeleteProduct").click(function (e) {

      $.ajax({
        type: "POST",
        url: '/Products/DeleteProduct',
        data: {
          id: $(this).attr("idProdus")
        },
        success: function (data) {

          if (data == "1") {
            alert("Product deleted succesfully");
          }

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    //   $(document).on('click', ".CategoryIdClick", function () {

    $("#productCategory").change(function (e) {

      console.log($(this).val());

      $.ajax({
        type: "POST",
        url: '/Orders/GetProductsByCat',
        data: {
          catId: $(this).val(),
          orderID: $("#addProductTableModal").attr("orderid")
        },
        success: function (data) {
          console.log(data);
          $("#productsSelect").empty();

          $.each(data, function (key, value) {

            $('#productsSelect').append($('<option>', {
              value: value.ID,
              text: value.Name,
              price: value.Price
            }));

          });

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    $(document).on('click', ".EditOrderProducts", function () {

      // $(".EditOrderProducts").click(function (e) {
      console.log($(this).attr("orderid"));

      $("#addProductTableModal").attr("orderid", $(this).attr("orderid"));


      $.ajax({
        type: "POST",
        url: '/Orders/GetProducts',
        data: {
          orderId: $(this).attr("orderid")
        },
        success: function (data) {

          $("#EditTableContent").empty();

          $.each(data, function (key, value) {

            $('#EditOrders > tbody:last-child').append('<tr> <td>' + value.ProductID + '</td><td>' + value.Name + '</td><td>' + value.Price + '</td><td>' + value.Quantity + '</td><td> <a href="javascript:void(0)" class="EditOrderProductsRemove" orderId="' + value.OrderID + '" productId="'+value.ProductID+'" > Remove </a> ');

          });

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });



    $(document).on('click', ".EditOrderProductsRemove", function () {

      //$(this).parents('tr').first().remove();
      var $t = $(this);

      $.ajax({
        type: "POST",
        url: '/Orders/RemoveOrderProduct',
        data: {
          orderId: $(this).attr("orderId"),
          productId: $(this).attr("productId")
        },
        success: function (data) {

         // $(this).parents('tr').first().remove();
         $t.closest('tr').remove();

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });
    });
        

    
    $(document).on('click', "#addOrder", function () {

      $.ajax({
        type: "POST",
        url: '/Orders/addOrder',
        data: {
          shipp: $("#shippmentAddresID").val(),
          userID: $("#orderUserId option:selected").val()
        },
        success: function (data) {

          // $(this).parents('tr').first().remove();
          // $(this).closest('tr').remove();
          location.reload();
          console.log("gg");
        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Told you not to click it... -_-' ");

        }
      });

    });



    $("#createOrderCategorySelect").change(function (e) {


      var $cat = $("#createOrderCategorySelect option:selected").text();
      var $catid = $("#createOrderCategorySelect option:selected").val();
      $.ajax({
        type: "POST",
        url: '/Orders/GetProductsByCategory',
        data: {
          catId: $(this).val()
        },
        success: function (data) {
          console.log(data);
          $.each(data, function (key, value) {

            $('#CreateOrder > tbody:last-child').append('<tr> <td class="id" >' + value.ID + '</td><td class="name">' + value.Name + '</td><td>' + value.Price + '</td><td class="categ" catid = '+$catid +'> ' + $cat + ' </td>  <td> <div class="form-group"> <input type="text" style="width:40px" class="form-control col-sm-1 quantity" id="quantity" onkeypress=\'return event.charCode >= 48 && event.charCode <= 57\' disabled></div>  </td><td> <div class="form-group"> <input type="checkbox" style="height=17px;" class="
              ">Add product</div> ');

          });

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    $(document).on('click', ".checkboxProduct", function () {
      
      if (!$(this).is(':checked'))
      {
        $(this).parents('tr').first().find('input[type="text"]').attr('disabled', true);
        //$(this).closest('input[type="text"]').attr('disabled', true);
      }

      $(this).attr('checked', true);

      $('#CreateOrder').find('tr').each(function () {
        var row = $(this);
        if (row.find('input[type="checkbox"]').is(':checked')) {
          row.find('input[type="text"]').prop('disabled', false);
        }
      });
     
    });

    $(document).on('keydown', ".quantity", function (e) {

      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            (e.keyCode == 65 && e.ctrlKey === true) ||
            (e.keyCode == 67 && e.ctrlKey === true) ||
            (e.keyCode == 88 && e.ctrlKey === true) ||
            (e.keyCode >= 35 && e.keyCode <= 39)) {
        return;
      }
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }

    });

    $(document).on('keydown', "#productQuantity", function (e) {

      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            (e.keyCode == 65 && e.ctrlKey === true) ||
            (e.keyCode == 67 && e.ctrlKey === true) ||
            (e.keyCode == 88 && e.ctrlKey === true) ||
            (e.keyCode >= 35 && e.keyCode <= 39)) {
        return;
      }
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }

    });


    $(document).on('click', "#CloseCreateModal", function () {


      $("#CreateTableContent").empty();
    });

    $(document).on('click', "#CreateOrderModalSave", function () {

      var prods = [];
      var i = -1;

      $('#CreateOrder').find('tr').each(function () {
        var row = $(this);
        if (row.find('input[type="checkbox"]').is(':checked')) {
          i = i + 1;
          prods.push(
            {
              "ProductID": row.find('td[class="id"]').text(),
              "Quantity": row.find('input[type="text"]').val()
            }
          );
        }
      });

      console.log(prods);

      var userid = $("#orderUserId option:selected").val();

      $.ajax({
        type: "POST",
        url: '/Orders/CreateNewOrder',
        data: {
          userID: userid,
          prods: JSON.stringify(prods),
        },
        success: function (data) {

          $("#CreateTableContent").empty();
          
          alert("G G E Z");

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Please try again. ");

        }
      });

    })



  </script>
</body>
</html>
