﻿@model IEnumerable<NLayer.Services.Dto.ProductDto>

@{
  ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
  @*<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Create new </a>*@
  @Html.ActionLink("Create new", "Create")
</p>


<div class="col-md-6">

  <form method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="search" placeholder="search.." />
      <small class="form-text text-muted">Enter the name you want to search by.</small>
    </div>

    <div class="form-group">
      <input type="submit" value="Search" class="btn btn-default">
    </div>
  </form>
</div>

<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Price)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.CategoryName)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
       
          <span style="color:blue">@item.Name</span>
        
        
      </td>
      
      <td>
        @if (@item.Price > 90)
        {
          <span style="color:red">@item.Price</span>
        }
        else
        {
          <span style="color:blue">@item.Price</span>
        }
      </td>
      <td>
        @item.CategoryName
      </td>
      <td>
        @Html.ActionLink("Edit2", "Edit", new {@id= @item.ID })
        <a href="javascript:void(0);" class="ModalEdit" catId="@item.CategoryID" idProdus="@item.ID" nume="@item.Name" pret="@item.Price" data-toggle="modal" data-target="#EditModal"> Edit</a>
 |
        <a href="javascript:void(0);" class="DeleteProduct" idProdus="@item.ID" >Delete</a>
      </td>
    </tr>
  }

</table>

<div class="container">


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add product</h4>
        </div>
        <div class="modal-body">



            <form>
              <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control" id="productName" aria-describedby="emailHelp" placeholder="Enter product name">
              </div>

              <div class="form-group">
                <label for="productPrice">product Price</label>
                <input type="text" class="form-control" id="productPrice" placeholder="Price">
              </div>
            </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="ModalSaveProduct" type="button" class="btn btn-success">Save</button>
        </div>
      </div>

    </div>
  </div>


  <div class="modal fade" id="EditModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit product</h4>
        </div>
        <div class="modal-body">

          <form>
            <div class="form-group">
              <label for="productIDEdit">Product ID</label>
              <input type="text" class="form-control" id="productIDEdit" readonly>
            </div>

            <div class="form-group">
              <label for="productNameEdit">Product Name</label>
              <input type="text" class="form-control" id="productNameEdit" name="Name" data-val="required">
              @Html.ValidationMessageFor(model=>model.FirstOrDefault().Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
              <label for="productPriceEdit">product Price</label>
              <input type="text" class="form-control" id="productPriceEdit" >
            </div>

            <div class="form-group">
              <label for="exampleSelect1">Categories</label>
              <select class="form-control" id="category">

                @foreach (var item in ViewBag.Categories)
                {
                  <option value="@item.ID"> @item.Name</option>
                }

              </select>
            </div>

          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="ModalSaveProductEdit" type="button" class="btn btn-success">Save</button>
        </div>
      </div>

    </div>
  </div>

</div>
