﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
  <title>Doge is life</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  
  <!-- //for-mobile-apps -->
  <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- js -->
  <script src="~/Content/js/jquery.min.js"></script>
  <!-- //js -->
  <!-- cart -->
  <script src="~/Content/js/simpleCart.min.js"></script>
  <!-- cart -->
  <!-- for bootstrap working -->
  <script type="text/javascript" src="~/Content/js/bootstrap-3.1.1.min.js"></script>
  <!-- //for bootstrap working -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!-- timer -->
  <link rel="stylesheet" href="~/Content/css/jquery.countdown.css" />
  <!-- //timer -->
  <!-- animation-effect -->
  <link href="~/Content/css/animate.min.css" rel="stylesheet">
  <script src="~/Content/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
  <!-- //animation-effect -->
</head>

<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <div class="header-grid">
        <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
          <ul>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">@@example.com</a></li>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="login.html">Login</a></li>
            <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="register.html">Register</a></li>
          </ul>
        </div>
        <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
          <ul class="social-icons">
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="g"></a></li>
            <li><a href="#" class="instagram"></a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="logo-nav">
        <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
          <h1><a href="index.html">Best Store <span>Shop anywhere</span></a></h1>
        </div>
        <div class="logo-nav-left1">
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html" class="act">Home</a></li>
                <!-- Mega Menu -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                  <ul class="dropdown-menu multi-column columns-3">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                          <h6>Categories</h6>

                          @foreach (var item in ViewBag.Categories)
                          {
                            @*<option value="@item.ID"> @item.Name</option>*@

                            <li><a href="products.html" id="@item.ID" >@item.Name</a></li>
                          }

                          <li><a href="products.html">Clothing</a></li>
                          <li><a href="products.html">Wallets</a></li>
                          <li><a href="products.html">Shoes</a></li>
                          <li><a href="products.html">Watches</a></li>
                          <li><a href="products.html">Accessories</a></li>
                        </ul>
                      </div>
                    
                      <div class="clearfix"></div>
                    </div>
                  </ul>
                </li>
                
                <li><a href="short-codes.html">Orders</a></li>
                <li><a href="mail.html">Mail Us</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="logo-nav-right">
          <div class="search-box">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
              </form>
            </div>
          </div>
          <!-- search-scripts -->
          <script src="js/classie.js"></script>
          <script src="js/uisearch.js"></script>
          <script>
            new UISearch(document.getElementById('sb-search'));
          </script>
          <!-- //search-scripts -->
        </div>
        <div class="header-right">
          <div class="cart box_1">
            <a href="checkout.html">
              <h3>
                <div class="total">
                  <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                </div>
                <img src="~/Content/images/bag.png" alt="" />
              </h3>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  @RenderBody()



  <div class="footer">
    <div class="container">
      <div class="footer-grids">
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
          <h3>About Us</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>
              Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit.
            </span>
          </p>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
          <h3>Contact Info</h3>
          <ul>
            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
          <h3>Flickr Posts</h3>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/13.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/14.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/15.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/16.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/13.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/14.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/15.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/16.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/13.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/14.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/15.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/16.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
          <h3>Blog Posts</h3>
          <div class="footer-grid-sub-grids">
            <div class="footer-grid-sub-grid-left">
              <a href="single.html"><img src="~/Content/images/9.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="footer-grid-sub-grid-right">
              <h4><a href="single.html">culpa qui officia deserunt</a></h4>
              <p>Posted On 25/3/2016</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="footer-grid-sub-grids">
            <div class="footer-grid-sub-grid-left">
              <a href="single.html"><img src="~/Content/images/10.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="footer-grid-sub-grid-right">
              <h4><a href="single.html">Quis autem vel eum iure</a></h4>
              <p>Posted On 25/3/2016</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
        <h2><a href="index.html">Best Store <span>shop anywhere</span></a></h2>
      </div>
      <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
        <p>&copy 2016 Best Store. All rights reserved | Design by Doge</p>
      </div>
    </div>
  </div>
  <!-- //footer -->
</body>
</html>