﻿@model IEnumerable<NLayer.Services.Dto.UserToDisplayDto>

@{
  ViewBag.Title = "Users";
}

<div style="margin-top:80px"></div>

<h2>Users</h2>

<p>

  <a href="javascript:void(0)" data-toggle="modal" data-target="#CreateUserModal">Create new </a> |
  @Html.ActionLink("New", "Create")

</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">@item.ID</th>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.Email</td>
        <td>@item.Role</td>

        <td>
          @Html.ActionLink("Edit2", "Edit", new { @id = @item.ID}) |
          <a href="javascript:void(0);" class="UserModalEdit" idUser="@item.ID" firstName="@item.FirstName" lastName="@item.LastName" Email="@item.Email" rol="@item.Role" data-toggle="modal" data-target="#EditUserModal"> Edit</a>
          |
          <a href="javascript:void(0);" class="DeleteUser" idUSer="@item.ID">Delete</a>
        </td>

      </tr>
    }
  </tbody>
</table>





<div class="container">


  <!-- Modal -->
  <div class="modal fade" id="CreateUserModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add product</h4>
        </div>
        <div class="modal-body">


          <form>
            <div class="form-group">
              <label for="productName">First Name</label>
              <input type="text" class="form-control" id="firstNameCreate" aria-describedby="firstNameCreate" placeholder="First Name">
            </div>

            <div class="form-group">
              <label for="productName">Last Name</label>
              <input type="text" class="form-control" id="lastNameCreate" aria-describedby="lastNameCreate" placeholder="Last Name">
            </div>

            <div class="form-group">
              <label for="productName">Password</label>
              <input type="password" class="form-control" id="passwordCreate" aria-describedby="" placeholder="*******">
            </div>

            <div class="form-group">
              <label for="productName">Email</label>
              <input type="text" class="form-control" id="emailCreate" aria-describedby="emailCreate" placeholder="Email">
            </div>

            <div class="form-group">
              <label for="productName">Role</label>
              <input type="text" class="form-control" id="roleCreate" aria-describedby="roleCreate" placeholder="Role">
            </div>


           
          </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="ModalCreateUserSave" type="button" class="btn btn-success">Save</button>
        </div>
      </div>

    </div>
  </div>


  <div class="modal fade" id="EditUserModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit product</h4>
        </div>
        <div class="modal-body">

          <form>
            <div class="form-group">
              <label for="productIDEdit">User ID</label>
              <input type="text" class="form-control" id="userIdEdit" readonly>
            </div>

            <div class="form-group">
              <label for="productNameEdit">First Name</label>
              <input type="text" class="form-control" id="firstNameEdit">
            </div>

            <div class="form-group">
              <label for="productPriceEdit">Last Name</label>
              <input type="text" class="form-control" id="lastNameEdit">
            </div>
            <div class="form-group">
              <label for="productPriceEdit">Email</label>
              <input type="text" class="form-control" id="userEmailEdit">
            </div>
            <div class="form-group">
              <label for="productPriceEdit">Role</label>
              <input type="text" class="form-control" id="userRoleEdit">
            </div>
         

          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="ModalSaveUserEdit" type="button" class="btn btn-success">Save</button>
        </div>
      </div>

    </div>
  </div>

</div>
