﻿<!DOCTYPE html>
<html>
<head>
  <title>Doge is love</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
       function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- //for-mobile-apps -->
  <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- js -->
  <script src="~/Content/js/jquery.min.js"></script>
  <!-- //js -->
  <!-- cart -->
  <script src="~/Content/js/simpleCart.min.js"></script>
  <!-- cart -->
  <!-- for bootstrap working -->
  <script type="text/javascript" src="~/Content/js/bootstrap-3.1.1.min.js"></script>
  <!-- //for bootstrap working -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!-- timer -->
  <link rel="stylesheet" href="~/Content/css/jquery.countdown.css" />
  <!-- //timer -->
  <!-- animation-effect -->
  <link href="~/Content/css/animate.min.css" rel="stylesheet">
  @*<script src="~/Content/js/wow.min.js"></script>*@
  <script>
    //new WOW().init();
  </script>
  <!-- //animation-effect -->
</head>

<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <div class="header-grid">
        <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
          <ul>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">@@example.com</a></li>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
            @if (HttpContext.Current.Session["LoggedUserName"] != null)
            {
              <li><i class="glyphicon glyphicon-heart"></i>Hello, @HttpContext.Current.Session["LoggedUserName"]</li>
              <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="javascript:void(0)" id="Logout">Logout</a></li>
            }
            else
            {
              <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/Home/Login">Login</a></li>
              <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="/Home/Register">Register</a></li>
            }

          </ul>
        </div>
        <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
          <ul class="social-icons">
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="g"></a></li>
            <li><a href="#" class="instagram"></a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="logo-nav">
        <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
          <h1><a href="/Home/Index">Best Store <span>Shop anywhere</span></a></h1>
        </div>
        <div class="logo-nav-left1">
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/Home/Index" class="act">Home</a></li>
                <!-- Mega Menu -->

                <li>  <a href="/Products/Index" class="act">Products </a></li>


                <li><a href="/Orders/Index" class="act">Orders </a></li>


                <li><a href="javascript:void(0)" >Users</a></li>
                <li><a href="javascript:void(0)" id="MailUs">Mail Us</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="logo-nav-right">
          <div class="search-box">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
              </form>
            </div>
          </div>
          <!-- search-scripts -->
          <script src="js/classie.js"></script>
          <script src="js/uisearch.js"></script>
          <script>
            new UISearch(document.getElementById('sb-search'));
          </script>
          <!-- //search-scripts -->
        </div>
        <div class="header-right">
          <div class="cart box_1">
            <a href="javascript:void(0)" id="checkout_products" data-toggle="modal" data-target="#SeeCurrentCart">
              <h3>
                <div class="total">
                  (<span id="simpleCart_quantity1" class="simpleCart_quantity1"></span> items)
                </div>
                <img src="~/Content/images/bag.png" alt="" />
              </h3>
            </a>
            <p><a href="javascript:void(0);" class="simpleCart_empty" id="emptyCart">Empty Cart</a></p>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>


  @RenderBody()




  <div class="container">

    <!-- Modal -->
    <div class="modal fade" id="SeeCurrentCart" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">View Cart</h4>
          </div>
          <div class="modal-body">

            <table class="timetable_sub" id="CurrentCart">
              <thead>
                <tr>
                  <th>Product ID</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Product Name</th>

                  <th>Price</th>
                  
                </tr>
              </thead>
              <tbody>


              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn" style="background-color:#d8703f; color:#ffffff" data-dismiss="modal" id="SaveCurrentCart">Save</button>*@

            <div class="checkout-left" style="margin-top:0px;">

              <div class="checkout-right-basket "  style="visibility: visible; margin-top:10px; margin-bottom:10px;" >
                
                <a href="javascript:void(0)" data-dismiss="modal"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
                <a href="javascript:void(0)" id="SaveCurrentCart"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>Proceed to checkout</a>
              </div>
            
            </div>


          </div>
        </div>

      </div>
    </div>

  </div>




  <div class="footer">
    <div class="container">
      <div class="footer-grids">
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
          <h3>About Us</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>
              Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit.
            </span>
          </p>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
          <h3>Contact Info</h3>
          <ul>
            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
          <h3>Flickr Posts</h3>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/13.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/14.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/15.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/16.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/13.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/14.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/15.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/16.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/13.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/14.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/15.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-left">
            <a href="single.html"><img src="~/Content/images/16.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
          <h3>Blog Posts</h3>
          <div class="footer-grid-sub-grids">
            <div class="footer-grid-sub-grid-left">
              <a href="single.html"><img src="~/Content/images/9.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="footer-grid-sub-grid-right">
              <h4><a href="single.html">culpa qui officia deserunt</a></h4>
              <p>Posted On 25/3/2016</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="footer-grid-sub-grids">
            <div class="footer-grid-sub-grid-left">
              <a href="single.html"><img src="~/Content/images/10.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="footer-grid-sub-grid-right">
              <h4><a href="single.html">Quis autem vel eum iure</a></h4>
              <p>Posted On 25/3/2016</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
        <h2><a href="/Home/Index">Best Store <span>shop anywhere</span></a></h2>
      </div>
      <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
        <p>&copy 2016 Best Store. All rights reserved | Designed by Doge</p>
      </div>
    </div>
  </div>
  <!-- //footer -->



  <script type="text/javascript">

    $(document).on('click', '.DeleteProduct', function () {

      var id = $(this).attr("productID");

      $.ajax({
        type: "POST",
        url: '/Products/DeleteProduct',
        data: {
          id: $(this).attr("productID")
        },
        success: function (data) {

          if (data == "1") {

            $('div[productID="' + id + '"]').fadeOut("slow", function () {
              $('div[productID="' + id + '"]').remove();
            })
            //$('div[productID="' + id + '"]').remove();
          }

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });


    });

    $(document).on('click', '.close2', function () {

      var $t = $(this);

      $.ajax({
        type: "POST",
        url: '/Orders/RemoveOrderProduct',
        data: {
          orderId: $(this).attr("orderId"),
          productId: $(this).attr("productId")
        },
        success: function (data) {

          // $(this).parents('tr').first().remove();
          $t.closest('tr').fadeOut('slow', function (c) {
            $t.closest('tr').remove();
          })

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });



    });

    $(document).on('click', '.value-plus', function () {

      var div = $(this).attr('prodID');

      var da = $(document).find($('.value').attr('prodID', div));

      $(da).text($(da).text() + 1);
    });

    $(document).on('click', ".chooseCategory", function () {
      var $t = $(this);
      $.ajax({
        type: "POST",
        url: '/Products/GetProductsByCategory',
        data: {
          id: $(this).attr("productID")
        },
        success: function (data) {
          $("#productList").empty();
          $("#link").text("Products / " + $t.text());
          $.each(data, function (key, value) {

            $("#productList").append('\
                <div class="col-md-4 products-right-grids-bottom-grid" productID="'+ value.ID+'">\
          <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">\
            <div class="new-collections-grid1-image">\
              <a href="single.html" class="product-image"><img src="http://localhost:57808/Content/Images/19.jpg" alt=" " class="img-responsive"></a>\
              <div class="new-collections-grid1-image-pos products-right-grids-pos">\
                <a href="javascript:void(0)" productID="' + value.ID + '" class="DeleteProduct" >Delete this</a>\
              </div>\
            </div>\
            <h4>'+ value.Name + '</h4>\
            <p><a href="#" style="color:#D8703F" class="add_product_to_cart" prodID="'+value.ID+'">Add to cart</a></p>\
            <div class="simpleCart_shelfItem products-right-grid1-add-cart">\
              <p><i>$' + value.Price + '</i> <span class="item_price">$' + value.Price + '</span><a productID="' + value.ID + '" id="' + value.ID + '"  href="/Products/Edit/' + value.ID + '">Edit </a></p>\
            </div>\
          </div>\
        </div>\
              ');

          });

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    $("#SeeOrdersByUser").click(function (e) {

      $.ajax({
        type: "POST",
        url: '/Orders/SeeOrders',
        data: {
          userId: $("#orderUserId").val()
        },
        success: function (data) {

          $("#OrdersByUser").empty();

          $.each(data, function (key, value) {

            $('#ordere > tbody:last-child').append('<tr> <td>' + value.UserID + '</td><td>' + value.ID + '</td><td>' + value.ShipmentAddressID + '</td><td>' + value.OrderDate + '</td><td> <a href="/Orders/Edit/' + value.ID + '" orderId="' + value.ID + '"  > Edit </a> | <a href="javascript:void(0)" class="DeleteOrder" orderId="' + value.ID + '"> Delete </a>  </td></tr>');

          });

          console.log(data);

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");
        }
      });

    });

    $("#addProductTableModal").click(function (e) {
      var $this = $(this);
      var $t = $('#EditOrders > tbody:last-child');
      //$('#EditOrders > tbody:last-child').append('<tr> <td>' + $('#productsSelect').val() + '</td><td>' + $('#productsSelect option:selected').text() + '</td><td>' + $('#productsSelect option:selected').attr('price') + '</td><td>' + $('#productQuantity').val() + '</td><td> <a href="#" class="EditOrderProducts" productId="' + $('#productsSelect').val() + '" data-toggle="modal" data-target="#EditOrderModal" > Remove </a> ');

      $.ajax({
        type: "POST",
        url: '/Orders/AddOrderProduct',
        data: {
          orderId: $('.close2').attr('orderId'),
          productId: $('#productsSelect').val(),
          quantity: $('#productQuantity').val()
        },
        success: function (data) {
          if (data == "1") {
            $t.append('<tr> <td class="invert">' + $('#productsSelect').val() + '</td><td class="invert-image"><a href="javascript:void(0)"><img src="/Content/images/30.jpg" alt=" " class="img-responsive"></a></td><td class="invert" ><div class="quantity-select"><div class="entry value" >' + $('#productQuantity').val() + '</div></div></td><td class="invert">' + $('#productsSelect option:selected').text() + '</td><td class="invert">$' + $('#productsSelect option:selected').attr('price') + '</td> <td> <div class="rem"> <div class="close2 EditOrderProductsRemove"  orderId="'+ $this.attr('orderid') +'" productId="' + $('#productsSelect').val() + '"> </div>  </div>  </td></tr>');
          }
          else {
            alert("Please fill corectly all the fields. (check quantity field)");
          }
        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Please fill corectly all the fields and don't add the same products");

        }
      });


    });

    $("#createOrderCategorySelect").change(function (e) {

      var $cat = $("#createOrderCategorySelect option:selected").text();
      var $catid = $("#createOrderCategorySelect option:selected").val();
      $.ajax({
        type: "POST",
        url: '/Orders/GetProductsByCategory',
        data: {
          catId: $(this).val()
        },
        success: function (data) {
          console.log(data);
          $.each(data, function (key, value) {

            $('#CreateOrder > tbody:last-child').append('<tr> <td class="invert" id="id">' + value.ID + '</td><td class="invert"> ' + $("#createOrderCategorySelect option:selected").text() + ' </td><td class="invert" >    <div class="form-group" style="margin-bottom:35px;"> <input type="text" style="width:40px; left:auto; margin-left:45px; " class="form-control col-sm-1 quantity" id="quantity" onkeypress=\'return event.charCode >= 48 && event.charCode <= 57\' disabled></div>      </td><td class="invert">' + value.Name + '</td><td class="invert">$' + value.Price + '</td> <td><div class="form-group" style="margin-top:10px;"> <input type="checkbox" style="height=17px; left:auto;" class="checkboxProduct">Add product</div> </td></tr>');

          });

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    $(document).on('click', ".checkboxProduct", function () {

      //if ($(this).attr('checked').length===0) {
      if (!$(this).is(':checked')){
        $(this).parents('tr').first().find('input[type="text"]').attr('disabled', true);
        $(this).parents('tr').first().find('input[type="text"]').attr('value', "");
        $(this).removeAttr("checked");

        //$(this).closest('input[type="text"]').attr('disabled', true);
      }

      //$(this).attr('checked', true);

      $('#CreateOrder').find('tr').each(function () {
        var row = $(this);
        if (row.find('input[type="checkbox"]').is(':checked')) {
          row.find('input[type="text"]').prop('disabled', false);
          row.find('input[type="text"]').prop('value', "1");
        }
      });

    });


    $(document).on('click', '.add_product_to_cart', function () {

      $("#simpleCart_quantity1").text(parseInt($("#simpleCart_quantity1").text(), 10) + 1);
      @*var da = @Request.RequestContext.HttpContext.Session["prods"];
      if( da != null)
      {

      }else
      {
        @HttpContext.Current.Session["prods"] = [];
      }
      var Cart_Products = @HttpContext.Current.Session["prods"];
      Cart_Products.push(parseInt($(this).attr('prodID'), 10));
      @HttpContext.Current.Session["prods"] = CartProducts;*@

      $.ajax({
        type: "POST",
        url: '/Home/SessionCart',
        data: {
          id: parseInt($(this).attr('prodID'))
        },
        success: function (data) {

          if(data == "1")
          {
            console.log("kappa");
          }

        },
        dataType: "json",
        error: function (data) {
          console.log(data);

          alert("Please try again. ");

        }
      });

    });

    $(document).on('click', '#checkout_products', function () {

      $.ajax({
        type: "POST",
        url: '/Home/GetCurentCart',
        data: {
        },
        success: function (data) {

            if(data != "0")
            {
              $('#CurrentCart > tbody:last-child').empty();

              $.each(data, function (key, value) {

                $('#CurrentCart > tbody:last-child').append(' \
 <tr class="rem2">\
                    <td class="invert">'+value.ID +'</td>\
                    <td class="invert-image"><a href="javascript:void(0)"><img src="/Content/images/30.jpg" alt=" " class="img-responsive"></a></td>\
                    <td class="invert">\
                      <div class="quantity">\
                        <div class="quantity-select">\
                          <div class="entry value">1</div>\
                        </div>\
                      </div>\
                    </td>\
                    <td class="invert">'+value.Name+'</td>\
                    <td class="invert">$'+value.Price+'</td>\
                  </tr>\
');
              });

            }

        },
        dataType: "json",
        error: function (data) {
          console.log(data);

          alert("Please try again. ");

        }
      });

    });

    $(document).on('click', '.RemoveFromCurrentCart', function () {

      //$.ajax({
      //  type: "POST",
      //  url: '/Orders/CreateNewOrder',
      //  data: {
      //    userID: userid,
      //    prods: JSON.stringify(prods),
      //  },
      //  success: function (data) {

      //    $("#CreateTableContent").empty();

      //    alert("G G E Z");

      //  },
      //  dataType: "json",
      //  error: function (data) {
      //    console.log(data);

      //    alert("Please try again. ");

      //  }
      //});

    });

    $(document).on('click', '#SaveCurrentCart', function () {



    });

    $(document).on('click', '#MailUs', function () {

      $.ajax({
        type: "POST",
        url: '/Home/MailUs',
        data: {
         
        },
        success: function (data) {

          console.log("da");

        },
        dataType: "json",
        error: function (data) {
          console.log(data);

          alert("Please try again. ");

        }
      });

    })

    $(document).on('click', "#CreateOrderModalSave", function () {

      var prods = [];
      var i = -1;

      $('#CreateOrder').find('tr').each(function () {
        var row = $(this);
        if (row.find('input[type="checkbox"]').is(':checked')) {
          i = i + 1;
          prods.push(
            {
              "ProductID": row.find('td[id="id"]').text(),
              "Quantity": row.find('input[type="text"]').val()
            }
          );
        }
      });

      console.log(prods);

      var userid = $("#orderUserId option:selected").val();

      $.ajax({
        type: "POST",
        url: '/Orders/CreateNewOrder',
        data: {
          userID: userid,
          prods: JSON.stringify(prods),
        },
        success: function (data) {

          $("#CreateTableContent").empty();

          alert("G G E Z");

        },
        dataType: "json",
        error: function (data) {
          console.log(data);

          alert("Please try again. ");

        }
      });

    });

    $(document).on('click', '#CloseModal', function () {

      location.reload();

    });

    $(document).on('click', '#Logout', function () {


      $.ajax({
        type: "POST",
        url: '/Home/Logout',
        data: {

        },
        success: function (data) {
          location.reload();
        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });


    })

    $(document).on('keydown', "#productQuantity", function (e) {

      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            (e.keyCode == 65 && e.ctrlKey === true) ||
            (e.keyCode == 67 && e.ctrlKey === true) ||
            (e.keyCode == 88 && e.ctrlKey === true) ||
            (e.keyCode >= 35 && e.keyCode <= 39)) {
        return;
      }
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }

    });

    $("#productCategory").change(function (e) {

      console.log($(this).val());

      $.ajax({
        type: "POST",
        url: '/Orders/GetProductsByCat',
        data: {
          catId: $(this).val(),
          orderID: $("#addProductTableModal").attr("orderid")
        },
        success: function (data) {
          console.log(data);
          $("#productsSelect").empty();

          $.each(data, function (key, value) {

            $('#productsSelect').append($('<option>', {
              value: value.ID,
              text: value.Name,
              price: value.Price
            }));

          });

        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    $('#simpleCart_quantity1').ready(function () {

      console.log("sda");

      $.ajax({
        type: "POST",
        url: '/Home/GetCartLength',
        data: {

        },
        success: function (data) {
          console.log(data);
          $("#simpleCart_quantity1").text(data);
        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    });

    $(document).on('click', '#emptyCart', function () {

      $.ajax({
        type: "POST",
        url: '/Home/EmptyCart',
        data: {
        },
        success: function (data) {
          $("#simpleCart_quantity1").text("0");
          $('#CurrentCart > tbody:last-child').empty();
        },
        dataType: "json",
        error: function (data) {
          console.log(data);
          alert("Something went wrong. Please try again.");

        }
      });

    })



  </script>

</body>
</html>