﻿@model IEnumerable<NLayer.Services.Dto.OrderDto>

@{
  ViewBag.Title = "Products";
}

<h2 style="margin-top:90px">Orders</h2>



<div class="container">
  <form>

    <div class="form-group">
      <div style="max-width:200px">


        @*<label for="orderUserId">User ID</label>
          <input type="text" class="form-control" id="orderUserId" aria-describedby="emailHelp" placeholder="User id">*@

        <select class="form-control" id="orderUserId">

          @foreach (var item in ViewBag.Users)
          {
            <option value="@item.ID" class="CategoryIdClick"> @item.FirstName</option>
          }

        </select>


      </div>
    </div>


  </form>

  <button id="SeeOrdersByUser" type="button" class="btn btn-success">See Orders</button>

</div>

<div class="container">

  <table class="table table-striped" id="ordere">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Order ID</th>
        <th>Shipment Address</th>
        <th>Order Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="OrdersByUser"></tbody>
  </table>


</div>



<div class="container" >

  <div style="max-width:200px;">
  <h4> Add order</h4>
  


  <button type="button" style="background-color:pink; color:deeppink; width:245px; height:104px" class="btn  btn-lg" data-toggle="modal" data-target="#CreateOrderModal">Add Order (don't click it)</button>

    </div>
</div>

<div class="container">

  <h4>Lol, we have promotion?!</h4>

  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#SeePromotions">See promotions</button>

</div>


<div class="container">


  <!-- Modal -->
  <div class="modal fade" id="EditOrderModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Order</h4>
        </div>
        <div class="modal-body">


          <table class="table table-striped" id="EditOrders">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quntity</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="EditTableContent">


            </tbody>
          </table>

          <h4> Add products</h4>
          <form>
            <div class="form-group">
              <label for="exampleSelect1">Categories</label>
              <select class="form-control" id="productCategory">
                <option disabled selected>Chose category</option>
                @foreach (var item in ViewBag.Categories)
                {
                  <option value="@item.ID" class="CategoryIdClick"> @item.Name</option>
                }

              </select>
            </div>

            <div class="form-group">
              <label for="exampleSelect1">Products</label>
              <select class="form-control" id="productsSelect">
                <option selected disabled>Choose category first</option>

              </select>
            </div>
             
            <div class="form-group">
              <label for="productQuantity">Quantity</label>
              <input type="text" class="form-control" id="productQuantity" required>
            </div>

          </form>

          <button type="button" class="btn btn-success" id="addProductTableModal">Add Product</button>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button  type="button" class="btn btn-success" data-dismiss="modal">Save</button>
        </div>
      </div>

    </div>
  </div>


  <div class="modal fade" id="CreateOrderModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Order</h4>
        </div>
        <div class="modal-body">

          <form>
            <div class="form-group">
              <label for="exampleSelect1">Select a category</label>
              <select class="form-control" id="createOrderCategorySelect">
                <option disabled selected>Chose category</option>
                @foreach (var item in ViewBag.Categories)
                {
                  <option value="@item.ID" class="createOrderCategorySelectClicked"> @item.Name</option>
                }

              </select>
            </div>
            </form>
          <form>
            <table class="table table-striped" id="CreateOrder">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Quntity</th>
                  <th>Choose products</th>
                </tr>
              </thead>
              <tbody id="CreateTableContent"></tbody>
            </table>
            </form>
          <p>Order total: <span id="totalOrder">0 $</span></p>
          <p>Order discount: <span id="discountOrder">0 $</span></p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseCreateModal">Close</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" id="CreateOrderModalSave">Save</button>
        </div>
      </div>

    </div>
  </div>




  <div class="modal fade" id="SeePromotions" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Promotions</h4>
        </div>
        <div class="modal-body">

        


        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-success" data-dismiss="modal" >Kappa</button>
        </div>
      </div>

    </div>
  </div>




</div>
