﻿<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li><a href="/Orders/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Orders</a></li>
      <li class="active" id="link">Create</li>
    </ol>
  </div>
</div>


<div class="checkbox">
  <div class="container" style="margin-top:20px">
    <div class="alert alert-warning" role="alert">
      <strong>Heads up!</strong> You musts login to place an order
    </div>
    <form>

      <div class="form-group">
        <div style="max-width:200px">

          <select class="form-control" id="orderUserId">

            @foreach (var item in ViewBag.Users)
            {
              <option value="@item.ID" class="CategoryIdClick"> @item.FirstName</option>
            }

          </select>

        </div>
      </div>

    </form>

  </div>

  <div class="container">


    <form>
      <div class="form-group " style="max-width:200px">
        <label for="exampleSelect1">Select a category</label>
        <select class="form-control" id="createOrderCategorySelect">
          <option disabled selected>Chose category</option>
          @foreach (var item in ViewBag.Categories)
          {
            <option value="@item.ID" class="createOrderCategorySelectClicked"> @item.Name</option>
          }

        </select>
      </div>
    </form>

    <form>
    <table class="timetable_sub" id="CreateOrder">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Product Name</th>

          <th>Price</th>
          <th>Add</th>
        </tr>
      </thead>
      <tbody id="CreateTableContent"></tbody>
    </table>
      </form>

    <div class="checkout-left">

      <div class="checkout-right-basket animated wow slideInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
        <a href="/Products/Index"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
        <a href="/Orders/Index" id="CreateOrderModalSave"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>Proceed to checkout</a>
      </div>
      <div class="clearfix"> </div>
    </div>

  </div>
</div>