﻿<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active" id="link">Orders</li>
    </ol>
  </div>
</div>



<div class="container" style="margin-top:20px">
  <div class="alert alert-info" role="alert">
    <strong>Heads up!</strong> First choose a client then see his orders or you can add a<strong><a href="/Orders/Create"> new order </a></strong>
  </div>
  <form>

    <div class="form-group">
      <div style="max-width:200px">


        @*<label for="orderUserId">User ID</label>
          <input type="text" class="form-control" id="orderUserId" aria-describedby="emailHelp" placeholder="User id">*@

        <select class="form-control" id="orderUserId">

          @foreach (var item in ViewBag.Users)
          {
            <option value="@item.ID" class="CategoryIdClick"> @item.FirstName</option>
          }

        </select>

      </div>
    </div>


  </form>

  <button id="SeeOrdersByUser" type="button" class="btn btn-default">See Orders</button>

</div>
<div class="container">
<table class="table table-hover" id="ordere">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Order ID</th>
      <th>Shipment Address</th>
      <th>Order Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="OrdersByUser">
    
  </tbody>
</table>

</div>