﻿<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li><a href="/Orders/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Orders</a></li>
      <li class="active" id="link">View Cart</li>
    </ol>
  </div>
</div>

<div class="checkout">
  <div class="container">
    <div class="alert alert-warning" role="alert">
      <strong>Heads up!</strong> You must be logged to place the order
    </div>
    <h3 class="animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">The order contains contains: </h3>
    <div class="checkout-right animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
      <table class="timetable_sub">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Product Name</th>

            <th>Price</th>
          </tr>
        </thead>
        <tbody>


          @foreach (var item in ViewBag.produse)
          {
            <tr class="rem2">
              <td class="invert">@item.ProductID</td>
              <td class="invert-image"><a href="javascript:void(0)"><img src="/Content/images/30.jpg" alt=" " class="img-responsive"></a></td>
              <td class="invert">
                <div class="quantity">
                  <div class="quantity-select">
                   
                    <div class="entry value" prodID="@item.ProductID">@item.Quantity</div>
                    
                  </div>
                </div>

              </td>
              <td class="invert">@item.Name</td>

              <td class="invert">$@item.Price</td>
            
            </tr>
          }

        </tbody>
      </table>
    </div>
    <div class="checkout-left">

      <div class="checkout-right-basket animated wow slideInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
        <a data-toggle="modal" data-target="#EditOrderModal" id="EditOrderProducts"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</a>
        <a href="/Products/Index"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
        <a href="single.html"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>Proceed to checkout</a>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>




<div class="container">


  <!-- Modal -->
  <div class="modal fade" id="EditOrderModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Order</h4>
        </div>
        <div class="modal-body">




          <table class="timetable_sub" id="EditOrders">
            <thead>
              <tr>
                <th>Product ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Product Name</th>

                <th>Price</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>


              @*@foreach (var item in ViewBag.produse)
              {
                <tr class="rem2">
                  <td class="invert">@item.ProductID</td>
                  <td class="invert-image"><a href="javascript:void(0)"><img src="/Content/images/30.jpg" alt=" " class="img-responsive"></a></td>
                  <td class="invert">
                    <div class="quantity">
                      <div class="quantity-select">
                        <div class="entry value">@item.Quantity</div>
                      </div>
                    </div>



                  </td>
                  <td class="invert">@item.Name</td>

                  <td class="invert">$@item.Price</td>
                  <td class="invert">

                    <div class="rem"> <div class="close2 EditOrderProductsRemove" orderId="@item.OrderID" productId="@item.ProductID"> </div>  </div>

                  </td>
                </tr>
              }*@

            </tbody>
          </table>


          <h4 style="margin-top:15px; margin-bottom:15px;"> Add products</h4>
          <form>
            <div class="form-group">
              <label for="exampleSelect1">Categories</label>
              <select class="form-control" id="productCategory">
                <option disabled selected>Chose category</option>
                @foreach (var item in ViewBag.Categories)
                {
                  <option value="@item.ID" class="CategoryIdClick"> @item.Name</option>
                }

              </select>
            </div>

            <div class="form-group">
              <label for="exampleSelect1">Products</label>
              <select class="form-control" id="productsSelect">
                <option selected disabled>Choose category first</option>

              </select>
            </div>

            <div class="form-group">
              <label for="productQuantity">Quantity</label>
              <input type="text" class="form-control" id="productQuantity" required>
            </div>

          </form>

          <button type="button" class="btn btn-success" id="addProductTableModal" style="background-color:#d8703f; color:#ffffff">Add Product</button>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn" style="background-color:#d8703f; color:#ffffff" data-dismiss="modal" id="CloseModal">Save</button>
        </div>
      </div>

    </div>
  </div>

</div>