﻿@{ 
  Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="menu" style="margin-top:70px">
  <a href="#" class="one">Home</a>
  <a href="~/Products/Index" class="two">Products</a>
  <a href="~/User/Index" class="three">Users</a>
  <a href="~/Orders/Index" class="four">Orders</a>

  <div class="circle">
    <ul>
      <li><img src="~/Content/home.png" width="80px" /></li>
      <li><img src="~/Content/prodd.png" width="70px" /></li>
      <li><img src="~/Content/user.png" width="70px"/></li>
      <li><img src="~/Content/ord.png" width="90px" /></li>
    </ul>
  </div>

</div>