﻿@model IEnumerable<NLayer.Services.Dto.UserToDisplayDto>
@{
  ViewBag.Title = "Test";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>This is main title</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
      </li>
      <li class="active">
        <strong>Test</strong>
      </li>
    </ol>
  </div>

</div>




<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Users</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#">Config option 1</a>
              </li>
              <li>
                <a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">

          <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>

              @foreach (var item in Model)
              {
                <tr class="gradeC">
                  <td>@item.ID</td>
                  <td>
                    @item.FirstName
                  </td>
                  <td>@item.LastName</td>
                  <td class="center">@item.Email</td>
                  <td>@item.Role</td>
                </tr>

              }

            </tbody>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>




@section Styles {
  @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
  @Scripts.Render("~/plugins/dataTables")

  <script type="text/javascript">
    $(document).ready(function () {

      $('.dataTables-example').DataTable({
        pageLength: 25,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy' },
            { extend: 'csv' },
            { extend: 'excel', title: 'ExampleFile' },
            { extend: 'pdf', title: 'ExampleFile' },

            {
              extend: 'print',
              customize: function (win) {
                $(win.document.body).addClass('white-bg');
                $(win.document.body).css('font-size', '10px');

                $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
              }
            }
        ]

      });



    });

  </script>
}