﻿@model NLayer.Services.Dto.ProductDto



<div class="register">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Edit product</h3>
    <p class="est animated wow zoomIn" data-wow-delay=".5s">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </p>
    <div class="login-form-grids">
      <h5 class="animated wow slideInUp" data-wow-delay=".5s">Information</h5>

      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @*<input type="text" placeholder="First Name..." required=" ">*@
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Product name..." } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })



        @*<input type="text" placeholder="Last Name..." required=" ">*@

        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @placeholder = "Price..." } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

        <input style="margin-top:10px;" class="input-validation-error text-box single-line" data-val="true" data-val-number="The field Categorie must be a number." data-val-required="Tre categorie" id="CategoryID" name="CategoryID" placeholder="Category id..." type="text" value=@Model.CategoryID>
        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })


        <input type="submit" value="Edit" />

      }

    </div>
    <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
      <a href="/Products/Index">Home</a>
    </div>
  </div>
</div>

