﻿
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="/Products/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active" id="link">Products</li>
    </ol>
  </div>
</div>
<div class="products">
  <div class="container">
    <div class="col-md-4 products-left">
      <div class="filter-price">
        <h3><a href="Create" >Add product</a></h3>
      </div>
      <div class="categories animated wow slideInUp" data-wow-delay=".5s">
        <h3>Categories</h3>
        <ul class="cate">

          @foreach (var item in ViewBag.Categories)
          {
            <li><a href="javascript:void(0)" class="chooseCategory" productID="@item.ID">@item.Name</a> <span>(@item.NR)</span></li>

          }
        </ul>
      </div>

      <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
        <a href="single.html"><img src="~/Content/images/27.jpg" alt=" " class="img-responsive" /></a>
        <div class="men-position-pos">
          <h4>Summer collection</h4>
          <h5><span>55%</span> Flat Discount</h5>
        </div>
      </div>
    </div>
    <div class="col-md-8 products-right">
      <div class="products-right-grid">

        <div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
          <img src="~/Content/images/18.jpg" alt=" " class="img-responsive" />
          <div class="products-right-grids-position1">
            <h4>2016 New Collection</h4>
            <p>
              Descriere foarte smechera
            </p>
          </div>
        </div>
      </div>
      <div class="products-right-grids-bottom" id="productList">


        @foreach (var item in ViewBag.prods)
        {

          <div class="col-md-4 products-right-grids-bottom-grid" productID="@item.ID">
            <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
              <div class="new-collections-grid1-image">
                <a href="single.html" class="product-image"><img src="http://localhost:57808/Content/Images/19.jpg" alt=" " class="img-responsive"></a>
                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                  <a href="javascript:void(0)" class="DeleteProduct" productID="@item.ID">Delete this</a>
                </div>
              </div>
              <h4><a href="single.html">@item.Name</a></h4>
              <p><a href="#" style="color:#D8703F" class="add_product_to_cart" prodID="@item.ID">Add to cart</a></p>
              <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                <p><i>$@item.Price</i> <span class="item_price">$@item.Price</span><a id="@item.ID" productID="@item.ID" href="/Products/Edit/@item.ID">edit product</a></p>
              </div>
            </div>
          </div>

        }



      </div>

    </div>
    <div class="clearfix"> </div>
  </div>
</div>



<div class="container">


  <!-- Modal -->
  <div class="modal fade" id="CreateModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add product</h4>
        </div>
        <div class="modal-body">



          <form>
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" id="productName" aria-describedby="emailHelp" placeholder="Enter product name">
            </div>

            <div class="form-group">
              <label for="productPrice">product Price</label>
              <input type="text" class="form-control" id="productPrice" placeholder="Price">
            </div>
          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="ModalSaveProduct" type="button" class="btn btn-success">Save</button>
        </div>
      </div>

    </div>
  </div>


  <div class="modal fade" id="EditModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit product</h4>
        </div>
        <div class="modal-body">

          <form>
            <div class="form-group">
              <label for="productIDEdit">Product ID</label>
              <input type="text" class="form-control" id="productIDEdit" readonly>
            </div>

            <div class="form-group">
              <label for="productNameEdit">Product Name</label>
              <input type="text" class="form-control" id="productNameEdit" name="Name" data-val="required">

            </div>

            <div class="form-group">
              <label for="productPriceEdit">product Price</label>
              <input type="text" class="form-control" id="productPriceEdit">
            </div>

            <div class="form-group">
              <label for="exampleSelect1">Categories</label>
              <select class="form-control" id="category">

                @foreach (var item in ViewBag.Categories)
                {
                  <option value="@item.ID"> @item.Name</option>
                }

              </select>
            </div>

          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="ModalSaveProductEdit" type="button" class="btn btn-success">Save</button>
        </div>
      </div>

    </div>
  </div>

</div>