﻿@model NLayer.Web.Inspiniaa.Models.LoginModel


@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="~/Images/favicon.ico">

  <title>Login | ExpertNetwork</title>

  <link href="~/Content/bootstrap.min.css" rel="stylesheet">
  <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="~/Content/animate.css" rel="stylesheet">
  <link href="~/Content/style.css" rel="stylesheet">


</head>

<body class="gray-bg">

  <div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
      <div>

        <h1 class="logo-name">EN</h1>

      </div>
      <h3>Welcome to Expert Network</h3>
      <p>
        Programing tomorrow
      </p>
      <p>Login in. For more</p>
      <form class="m-t" role="form" method="post" action="/Home/RequestLogin">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Username" name="Email" required="" id="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="Password" required="" id="password">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b" id="Login">Login</button>

        <a href="#"><small>Forgot password?</small></a>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register", "Pages")">Create an account</a>
      </form>
      @*<p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p>*@
    </div>
  </div>


  @Scripts.Render("~/bundles/jquery")

  <script type="text/javascript">

  $(document).on('click', '#Login', function () {


    //var user= {
    //  "Email": $('#email').val(),
    //  "Password": $('#password').val() };

    ////var user = [];
    ////user.push(
      
    ////    "Email": $('#email').val(),
    ////    "Password": $('#password').val()
    ////  )
    //console.log(user);
    //$.ajax({
    //  type: "POST",
    //  url: '/Home/RequestLogin',
    //  data: {
    //    user1: user
    //  },
    //  success: function (data) {

    //  },
    //  dataType: "json",
    //  error: function (data) {
    //    console.log(data);
       

    //  }
    //});

  })

  </script>




</body>

</html>

