﻿
@{
  Layout = null;
}

<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="~/Images/favicon.ico">

  <title>INSPINIA | 500 Error</title>

  <link href="~/Content/bootstrap.min.css" rel="stylesheet">
  <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="~/Content/animate.css" rel="stylesheet">
  <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


  <div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">Internal Server Error</h3>

    <div class="error-desc">
      The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br />
      You can go back to main page: <br /><a href="@Url.Action("Dashboard_1", "Dashboards")" class="btn btn-primary m-t">Dashboard</a>
    </div>
  </div>

</body>

</html>


